@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&display=swap");
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul, ol, li {
	list-style: none;
}

a {
	text-decoration: none;
	outline: 0;
}
main {
	width: 100%;
	height: 100vh;	/* viewport높이의 100%*/
	background: #333;
	display: flex;	/* header와 section을 좌우 배치하기 위해 flex 설정 */
}
/* header  ------------------------------------------ 시작 */
main header {
	width: 20%;
	height: 100%;
	padding: 10vh 5vw;
	display: flex;
	flex-wrap: wrap; /* 세로로 줄 바꿈 되도록 처리 */
	align-content: space-between;	/* 세로축은 상단 하단 양 끝으로 콘텐츠를 배치 */
	justify-content: center;	/* 가로축은 가운데로 배치 */
	position: relative;
	z-index: 3;	/* section 요소와 aside 팝업 요소보다 위에 배치하기 위해 3을 지정 */
}
main header h1 {
	font-size: 0px;	/* 안쪽의 자간과 줄 높이를 초기화 */
	color: #fff;
}
main header h1 i {
	font-size: 5vw;
	margin-bottom: 15px;
}
main header h1 span {
	font: normal 0.8vw/1 "arial";
}
main header address {
	font: normal 11px/1.2 "arial";
	color: #888;
}
/* header  ------------------------------------------ 종료 */

main nav {
	position: absolute;
	top: 10vh;	/* 웹 브라우저 크기가 변경되어도 동일한 비율로 출력하기 위해 vh단위*/
	right: 5vw;	/* 웹 브라우저 크기가 변경되어도 동일한 비율로 출력하기 위해 vw단위*/
	z-index: 3;
	border: 10px solid aqua;
}
main section {
	position: relative;
	width: 80%;
	height: 100%;
	display: flex;
	padding-top: 140px;
	z-index: 1;
	border: 10px solid yellow;
}
